html, body {
    font: 11px roboto, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}

header {
    display: block;
    padding: .75rem 1.75rem;
    margin-bottom: 1rem;
    background: #892f52;
    color: #0d1007;
}

header > ul.menu {
    list-style: none;
    margin: 0 0.75em 0 0;
    padding: 0;
}

header > ul.menu,
header > ul.menu > li.menu-item,
header > span.title {
    display: inline-block;
}

header > h1.title {
    display: inline;
    margin-bottom: 0;
    font-size: 1.75rem;
}

header > span.about {
    display: inline;
    font-size: 1rem;
    margin-bottom: 1.0em;
}

header > ul.menu > li.menu-item > a {
    color: #fff;
}

header > ul.menu > li.menu-item > a:hover {
    color: #fff;
}

header > span.title {
    margin: 0 0 0 .75rem;
}

a, a:link, a:hover, a:visited {
  color: #554fbd;
}
